.section-blog {
  .post-box,
  .form-comments,
  .widget-sidebar,
  .box-comments {
    padding: 1rem;
    background-color: #fff;
    margin-bottom: 3rem;
    border-radius: 8px;
    img {
      border-radius: 8px;
    }
  }
  .article-title {
    font-size: 30px;
    font-weight: 600;
    font-family: "Merriweather Sans";
    color: #000;
  }
  .post-meta {
    margin: 2rem 0;
  }
  .post-meta ul {
    border-left: 4px solid #0078ff;
    margin-top: 1rem;
    margin-right: -50px !important;
    li {
      display: inline-block;
      margin-left: -10px;
      margin-right: 20px;
    }
    a {
      color: #0078ff;
    }
  }
  .blockquote {
    border-left: 4px solid #0078ff;
    padding: 18px;
    font-style: italic;
  }
  //----- Comments -----//
  .box-comments {
    .list-comments {
      margin-left: -35px;
      li {
        padding-bottom: 40px;
        list-style: none;
      }
      a {
        color: #0078ff;
        text-decoration: none;
      }
      span {
        color: #1e1e1e;
        font-style: italic;
      }
    }
    .title-comments {
      font-size: 28px;
      font-weight: 600;
      font-family: "Merriweather Sans";
      color: #000;
    }
    .comment-avatar {
      display: table-cell;
      vertical-align: top;
      img {
        width: 80px;
        height: 80px;
        border-radius: 50px;
      }
    }
    .comment-author {
      font-size: 1.3rem;
    }
    .comment-details {
      display: table-cell;
      vertical-align: top;
      padding-left: 25px;
    }
    .comment-children {
      margin-left: 40px;
    }
  }
  .form-comments {
    h3 {
      font-size: 28px;
      color: #000;
      font-weight: 600;
      font-family: "Merriweather Sans";
    }
  }
}

.line-mf {
  width: 40px;
  height: 5px;
  background-color: #0078ff;
  margin: 0;
}

.sidebar-search {
  h3 {
    font-size: 28px;
    color: #000;
    font-weight: 600;
    font-family: "Merriweather Sans";
    border-left: 4px solid #0078ff;
    margin-top: 1rem;
    margin-right: -50px !important;
    padding-left: 20px;
    margin-top: -1px;
  }
}

.sidebar-title {
  font-size: 28px;
  color: #000;
  font-weight: 600;
  font-family: "Merriweather Sans";
  border-left: 4px solid #0078ff;
  margin-top: 1rem;
  margin-right: -50px !important;
  padding-left: 20px;
  margin-top: -1px;
}

.sidebar-content {
  line-height: 30px;
  a {
    text-decoration: none;
    color: #4e4e4e;
    &:hover {
      color: #0078ff;
    }
  }
}
